<form class="form-style-1" method="post" action="/pets/<%= @pet.id %>">

<label for="field1"
<span>Name => </span><input type="text" id="name" name="name" required="true"
value="<%= @pet.name %>"/>
</label>

<label for="field2"
<span>Age => </span><input type="text"  id="age" name="age" required="true"
value="<%= @pet.age %>"/>
</label>

<label for="field3"
<span>Type => </span><input type="text" id="type" name="type" required="true"
value="<%= @pet.type %>"/>
</label>

<label for="field4"
<span>Owner
<select name="owner_id" id="owner_id"
 selected="<%= @pet.owner_id %>">
 <% @owners.each do |owner| %>
  <% if owner.id == @pet.owner_id %>
  <option value=<%=owner.id %> selected><%= owner.pretty_name %></option>
  <% else %>
    <option value=<%= owner.id %>> <%= owner.pretty_name %></option>
    <% end %>
  <% end %>
</select>
</label>


<label for="field4">
<span>Ready?
<select name="ready" id="ready">
    <option value="yes"
    <%= "selected"%>>yes</option>
    <option value="no"
    <%= "selected"%>>no</option>
</select>
</label>

<input type='submit' value="Edit Pet">
</form>
