<h1>pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
  </tr>
  <% for pet in @pets %>
  <tr>
    <td><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>
    <td><a href="/pets/<%= pet.age %>"><%= pet.type %></a></td>
    <td><a href="/pets/<%= pet.ready %>"><%= pet.owner_id %></a></td>
  </tr>
  <% end %>
</table>
