<h1>pet</h1>
<p>Name: <%= @pets.name.capitalize %></p>
<p>Age: <%= @pets.age %></p>
<p>Type: <%= @pets.type.capitalize %></p>
<p>Ready?: <%=@pets.ready.capitalize%></p>
<p>Owner?: <%=@pets.owner_id%></p>
